/* COLORES */

// blanco / grises
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;

//rosados
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;

//negros
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;

/* TIPOGRAFIAS */
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

$fs-xx-large: 70px;
$fs-x-large: 30px;
$fs-large: 18px;
$fs-medium: 16px;
$fs-small: 12px;