.autor{
    padding: 70px 0;
    border-top: 2px solid $platinum;
}

.autor__contenedor{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;

    .autor__contenedor-imagen, .autor__descripcion{
        width: 50%;
    }

    .autor__contenedor-imagen{
        padding-right: 20px;
        text-align: center;
    }

    .autor__descripcion{
        padding: 0 20px;
    }

    .autor__link{
        display: block;
        font-size: $fs-large;
    }
}

.autor__nombre{
    font-family: $playfair;
    font-size: $fs-x-large;
    font-weight: $fw-bold;
    font-style: italic;
    color: $eerie-black
}

.author__p{
    font-size: $fs-small;
    color: $nickel;
    align-self: center;
}

@media (max-width: 767px){
    .autor__contenedor{
        flex-direction: column;
        align-items: center;
        .autor__contenedor-imagen{
            padding: 0px;
            margin-bottom: 20px;
        }
    
        .autor__descripcion{
            padding: 0;
            text-align: center;
        }
    }
}