.footer{
    background-color: $eerie-black;
    text-align: center;
}

.footer__logo{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
}

@media (max-width: 767px){
    .footer__logo{
        margin-top: 75px;
        margin-bottom: 75px;
    }
}