.header{
    background-image: url(../images/post-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
}

.header__title{
    color: $white;
    font-size: $fs-xx-large;
    font-weight: $fw-bold;
    font-style: italic;
    padding-top: 40vh;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.header__arrow{
    color: $white;
    font-size: $fs-xx-large;
    font-weight: $fw-bold;
}

@media (max-width: 767px){
    .header__title{
        font-size: $fs-x-large;
        margin-left: 20%;
        margin-right: 20%;
    }

    .header{
        height: 105vh;
    }
}