.navbar--eerie-black{
    background-color: $eerie-black !important;
}

.navbar__logo{
    width: 100px;
}

.navbar__link{
    color: $white !important;
    opacity: 1;

    &:hover{
        color: $fuzzy-wuzzy !important;
    }
}

.navbar__link--activo{
    color: $fuzzy-wuzzy !important;
}
